html {
  width: 100%;
  height: 100%;
  background-color: rgb(10, 10, 10);
}

.objeto {
  position: absolute;
  background-image: url('/public/objeto1.jpg');
  -webkit-box-shadow: inset 0px 0px 147px -22px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 147px -22px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 147px -22px rgba(0,0,0,1);
}

.o0 {
  width: 15vw;
  height: 25vh;
}

.o1 {
  width: 35vw;
  height: 15vh;
  right: 0;
  background-attachment: fixed;
}

.o2 {
  width: 25vw;
  height: 10vh;
  right: 0;
  top: 15vh;
  background-attachment: fixed;
}

.o3 {
  width: 45vw;
  height: 10vh;
  bottom: 0;
  right: 0;
}

.o4 {
  left: 15vw;
  width: 50vw;
  height: 5vh;
}

.o5 {
  width: 15vw;
  height: 10vw;
  bottom: 0;
}

.c0 {
  position: absolute;
  border: 1px solid red;
  width: 1px;
  height: 62vh;
  top: 25vh;
}

.c1 {
  position: absolute;
  border: 1px solid red;
  width: 1px;
  height: 65vh;
  top: 25vh;
  right: 0;
}

.c2 {
  position: absolute;
  border: 1px solid red;
  left: 15vw;
  width: 40vw;
  height: 1px;
  bottom: 0;
}

.ghost-principal {
  margin: 0;
  position: relative;
}